/ManualResetEvent/ManualResetEvent/bin

/ManualResetEvent/ManualResetEvent/obj

/mutex/mutex/bin
/mutex/mutex/obj
/semaphore/semaphore/obj
/semaphore/semaphore/bin
/volatile/volatile/obj
/volatile/volatile/bin
/AutoResetEvent/AutoResetEvent/bin

/AutoResetEvent/AutoResetEvent/obj

/.vs

/.vs/*.sqlite

/.vs/TestProject/v15

/.vs/TestProject/v15/.suo
v15



/Other/SampleStructures/SampleStructures/obj

/Other/SampleStructures/SampleStructures/bin
/Other/linq/linq/obj

/Other/linq/linq/bin
/Other/BinaryTree/BinaryTree/obj

/Other/BinaryTree/BinaryTree/bin
/Games/Boomberman/bin
/Games/Boomberman/obj
/Patterns/PatternsGof/bin
/Patterns/PatternsGof/obj
/WEBAPI/ConsoleWebApi/bin
/WEBAPI/ConsoleWebApi/obj